html {
  font-size: 40px;
  background: #fff;
  overflow-x: hidden;
}
body {
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
/*匹配所以普的元素包括伪类元素*/
*,
::before,
::after {
  padding: 0;
  margin: 0;
  /*清除移动端点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
  /*轻击*/
}
@font-face {
  font-family: 'iconfont';  /* project id 335120 */
  src: url('//at.alicdn.com/t/font_335120_w0snj0vki59daemi.eot');
  src: url('//at.alicdn.com/t/font_335120_w0snj0vki59daemi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_335120_w0snj0vki59daemi.woff') format('woff'),
  url('//at.alicdn.com/t/font_335120_w0snj0vki59daemi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_335120_w0snj0vki59daemi.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 40px;
}
body {
  font-family: "Adobe 黑体 Std", "Microsoft Yahei", Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", sans-serif;
  font-size: 14px;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: #333;
}
input[type="text"],
input[type="search"],
input[type="tel"],
textarea {
  border: none;
  outline: none;
  resize: none;
  /*清除移动端默认的阴影效果*/
  -webkit-appearance: none;
  /*设置表单元素不自带浏览器默认样式*/
}
img {
  vertical-align: middle;
}
/*===========common css  公用样式*/
.fl {
  float: left;
}
.fr {
  float: right;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  /*隐藏但是占位*/
  clear: both;
  /*<div class="clear"></div>*/
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.no {
  margin-left: 0 !important;
}
/* header */
.header {
  position: relative;
}
.header a {
  display: block;
  float: left;
  margin-right: 0.5rem;
}
.header a .logo1 {
  width: 3.4rem;
}
.header a .logo2 {
  width: 3.175rem;
}
.header > img {
  width: 100%;
}
.header .logo {
  position: absolute;
  top: 0.3rem;
  left: 0.375rem;
}
/* item1 */
.item1 {
  padding: 10px 5px 20px;
}
.item1 li {
  width: 50%;
  box-sizing: border-box;
  padding: 3px;
  float: left;
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.item1 li a {
  display: block;
}
.item1 li img {
  width: 100%;
}
/* item2 */
.item2 {
  background: #dcdcdc;
  padding: 28px 2% 20px;
}
.item2 .info {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 0 2.5%;
  background: #fff;
  height: 8.5rem;
  margin-bottom: 25px;
}
.item2 .more{
  position: absolute;
  right: 1.375rem;
  bottom: 0.5rem;
  color:#8b8da8;
  font-size: 0.4rem;
}
.item2 .more a{
color:#8b8da8;
}
.item2 .more a:hover{
color:#8b8da8;
}
.item2  .more span{
  font:0.4rem '宋体';
  letter-spacing: -2px;
  margin-left: 4px;
}
.item2 .info .tit {
  font-size: 0.85rem;
  line-height: 0.85rem;
  margin: 1.3rem 0 0.625rem;
  color: #151b5e;
}
.item2 .info .con {
  font-size: 0.6rem;
  line-height: 0.875rem;
  color: #151b5e;
  text-align: justify;
}
.item2 .curr {
  display: block;
}
.item2 #wrapper{
  width: 100%;
  overflow-x:scroll;
}
.item2 #wrapper::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
}
.item2 #wrapper::-webkit-scrollbar {
  height: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.item2 #wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 28px;
}
.item2 #wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.item2 #wrapper ul{
  width: 1440px;
  width: 1620px;
  width: 40.5rem;
}
.item2 #wrapper li{
  float: left;
   margin: 0 0.125rem;
}
.item2 #wrapper li img{
  width: 4.25rem;
}
.item2 .active img{
    vertical-align: middle;
    box-sizing: border-box;
      border: 1px solid #46618d;
}
.item3 {
  padding-top: 80px;
  padding-bottom: 108px;
  background: linear-gradient(to bottom, #779cd9, #c5d9fb, #779cd9);
}
.item3 a {
  display: block;
}
.item3 .swiper-container {
  overflow: visible;
}
.item3 .swiper-container-horizontal > .swiper-pagination-bullets,
.item3 .swiper-pagination-custom,
.item3 .swiper-pagination-fraction {
  transform: translateY(110px);
}
.item3 .swiper-pagination-bullet {
  width: 0.3rem;
  height: 0.3rem;
  opacity: 1;
  background: #fff !important;
}
.item3 .swiper-pagination-bullet-active {
  background: #eeb11a !important;
}
.item3 .swiper-slide-active a {
  transform: scale(1.28);
}
.item3 .swiper-slide-active a .ic {
  top: 60%;
  transform: translate(-50%, 0%) scale(0.8);
}
.item3 .swiper-slide-active a .less .cover {
  opacity: 1;
}
.item3 .icon {
  padding: 0.25rem 0.25rem 0;
  position: relative;
  overflow: hidden;
}
.item3 .icon .ic {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transition: all 0.3s;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.item3 .icon .ic img {
  width: 1.475rem;
}
.item3 .icon .less {
  position: relative;
}
.item3 .icon .less .cover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(234, 199, 3, 0.78);
}
.item3 .icon .less .cover p {
  width: 100%;
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -90%);
  -moz-transform: translate(-50%, -90%);
  -webkit-transform: translate(-50%, -90%);
  -o-transform: translate(-50%, -90%);
  transform: translate(-50%, -90%);
  font-size: 0.5rem;
  line-height: 0.75rem;
  color: #fff;
}
.item3 .swiper-slide {
  text-align: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
}
.item3 .swiper-slide img {
  width: 100%;
}
.item3 .vd {
  background: #fff;
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.item3 p {
  font-size: 0.625rem;
  line-height: 1.8rem;
  color: #000;
}
/* item4 */
.item4 {
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
}
.item4 .stu-vd {
  height: 8.5rem;
  width: 100%;
}
.item4 li {
  background: url(../images/CFA.png) no-repeat 6.5rem center / 9.25rem 3.95rem;
  margin: 0.25rem 0.625rem 0;
  box-sizing: border-box;
  padding: 0.3rem 0 0.3rem 0.5rem;
  border: 2px solid #375a89;
  border-radius: 20px;
  height: 4.65rem;
}
.item4 li a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.item4 li a .ic {
  height: 100%;
  margin-right: 2.0rem;
}
.item4 li a .ic img {
  height: 100%;
}
.item4 li .con {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  color: #375a89;
}
.item4 li .con p {
  display: inline-block;
  font-size: 0.6rem;
  vertical-align: middle;
}
.item4 li .con p:last-child {
  font-size: 0.8rem;
}
.item4 li .con .line {
  height: 1.25rem;
  width: 0.05rem;
  background: #375a89;
  margin: 0 0.6rem 0 0.55rem;
}
.item4 .active {
  background: #375a89 url(../images/CFA.png) no-repeat 6.5rem center / 9.25rem 3.95rem;
}
.item4 .active a .bg {
  color: #44638f ;
}
.item4 .active a .con {
  color: #fff;
}
.item4 .active a .con .line {
  background: #fff;
}
.item4 .book {
  margin-top: 0.5rem;
}
.item4 .book > a {
  display: block;
  float: left;
  width: 7.5rem;
  height: 1.625rem;
  border: 1px solid #375a89 !important;
  font-size: 0.7rem;
  line-height: 1.625rem;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  color: #375a89;
  margin-left: 1.25rem;
  transition: all 0.3s;
}
.item4 .book > a:hover {
  border: 1px solid #ffd800 !important;
  background: #ffd800;
  color: #444444;
}
.item4 .book > a span {
  font-family: 'iconfont';
  font-size: 0.78rem;
  color: #375a89;
  line-height: 1.125rem;
  margin-left: 0.15rem;
  vertical-align: middle;
}
/* item5 start */
.item5 .cert-tit{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
}
.item5 .cert-tit span{
  width: 35%;
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
    border: 1px solid #151b5e;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5%;
}
.item5 .cert-tit .swiper-button-disabled{
  background: #151b5e;
    color: #fff;
     box-shadow: 0 5px 5px 1px #dfdfdf;
}
.item5 .cert-body{
  margin: 25px 10px 0;
  border-top: 3px solid #222c6f;
}
.item5 .cert-nav{
  overflow-x: scroll;
  padding:15px 0 30px;

}
.item5 .cert-nav  ul{
  width: 700px;
}
.item5 .cert-nav  li{
  width: 100px;
  text-align: center;
  float: left;
  cursor: pointer;
}
.item5 .cert-nav  li i{
  width: 100%;
  font-size: 1.25rem;
  display: inline-block;
}
.item5 .cert-nav  li span{
  position: relative;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  padding-bottom: 4px;
}
.item5 .cert-nav  li span b{
  font-size: 12px;
  font-weight: normal;
  color:#000;
  display: inline-block;
  transform: translate(0,-1px);
}
.item5 .cert-nav li span:before{
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translate(-50%,0px);
  content: '';
  display: block;
  width: 38px;
  height: 2px;
  background: #151b5e;
  transtion: all 0.3s;
  opacity: 0;
}
.item5 .cert-nav li.active .iconfont{
   color:#151b5e;
}
.item5 .cert-nav li.active span{
  color:#151b5e;
}

.item5 .cert-nav li.active span:before{
  opacity: 1;
}
.item5 .box{
  position: relative;
    box-shadow: 0 0 10px 1px #dfdfdf;
    padding: 25px 10px 10px;
    text-align: justify;
    text-indent: 2em;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 14px;
    font-weight: lighter;
    display: none;

}
.item5 .boxs .box:first-child{
  display: block;
}

.item5 .box .quo{
  position: absolute;
  top: 15px;
  left: -25px;
  font-size: 32px;
  font-style: italic;
  color: #4f4e4e;
  text-indent: 1em;
  min-height: 100px;
}
.item5{
  margin-bottom: 12px;
}

/* item5 end */
/* footer */
.footer {
  padding: 0 0.8rem;
  background: url(../m/footer.png) no-repeat center / cover;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer li {
  position: relative;
  border-bottom: 1px solid #fff;
}
.footer li:first-child {
  height: 3.25rem;
}
.footer li:first-child > div {
  font-size: 0.7rem;
  line-height: 0.7rem;
  position: absolute;
  left: 5px;
  bottom: 0.8rem;
}
.footer li:first-child > div .bm{
  margin-left: 1.0rem;
}
.footer li:first-child p {
  position: absolute;
  bottom: 0.25rem;
  right: 0;
  text-align: center;
}
.footer li:first-child p i {
  display: block;
  font-size: 1.2rem;
}
.footer li:first-child p span {
  display: block;
  font-size: 0.65rem;
}
.footer li:nth-child(2) {
  height: 4.05rem;
}
.footer li:nth-child(2) img {
  height: 2.425rem;
  position: absolute;
  bottom: 0.65rem;
  left: 5px;
}
.footer li:nth-child(2) img:nth-child(2) {
  left: 3.7rem;
}

.footer li:nth-child(2) img:nth-child(3) {
  left: 7.2rem;
}

.footer li:nth-child(2) img:nth-child(4) {
  left: 10.7rem;
}

.footer li:nth-child(2) p {
  position: absolute;
  bottom: 0.66rem;
  right: 0;
  text-align: center;
}
.footer li:nth-child(2) p i {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 3px;
}
.footer li:nth-child(2) p span {
  display: block;
  font-size: 0.65rem;
}
.footer li:nth-child(3) {
  height: 4.5rem;
}
.footer li:nth-child(3) p {
  position: absolute;
  right: 0;
  top: 0.45rem;
  font-size: 0.6rem;
  text-align: right;
}
.footer li:nth-child(3) p a {
  font-size: 0.75rem;
  text-decoration: underline;
}
/* 媒体查询 */
@media (max-width: 640px) {
  html {
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 28px;
  }
  .logo {
    zoom: 0.8;
  }
  .item3 .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    transform: translateY(80px);
  }
}
@media (max-width: 600px) {
  .item2 #scroller {
    width: 31rem;
  }
}
@media (max-width:400px){
  .item2 .info .con{
    line-height: 1rem;
  }
  .item2 .info{
    height: 9rem;
  }
  .item5 .box {
    line-height: 20px;
    font-size: 13px;
  }
  .footer li:first-child > div .bm{
  margin-left: 0.5rem;
}
}
@media (max-width: 360px) {
  html {
    font-size: 18px;
  }
  .logo {
    zoom: 0.75;
  }
  .item1 li {
    width: 50%;
  }
}
